* {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

.main_head {
    height: 768px;
    background: linear-gradient(to right, rgba(30, 30, 30, 0.6)), url(./images/coffee_image_main.png);
}

.main_head>img {
    max-width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>h1 {
    color: white;
    font-family: "Clicker Script", cursive;
    font-weight: 400;
    font-size: 35px;
    margin-top: 21px;
    margin-left: 93px;
}

nav>ul {
    display: flex;
    gap: 50px;
}

nav>ul>li {
    list-style: none;
    margin-top: 34px;
}

nav>ul>li>a {
    color: white;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    text-decoration: none;
}

nav>.nav-2 {
    margin-top: 21px;
    margin-right: 93px;
}

nav>.nav-2>a {
    position: relative;
    right: 50px;
    color: white;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    text-decoration: none;
    border-bottom: 1px solid rgb(156, 155, 155);
}

nav>.nav-2>button>a {
    color: #1E1E1E;
    font-size: 14px;
    font-family: "Playfair Display", serif;
    text-decoration: none;
}

nav>.nav-2>button {
    height: 50px;
    width: 120px;
    background-color: #F9C06A;
    border-radius: 24px;
    border: none;
}

.sub_head {
    color: white;
    margin-top: 130px;
    margin-left: 93px;
}

.sub_head>p {
    font-size: 22px;
    font-family: "Playfair Display", serif;
}

.sub_head>h1 {
    font-size: 220px;
    font-family: "Clicker Script", cursive;
    font-weight: 400;
}

.sub_head>h4 {
    font-size: 20px;
    font-family: "Playfair Display", serif;
    font-weight: 400;
    line-height: 34px;
    padding-bottom: 20px;
}

.sub_head>button {
    height: 50px;
    width: 120px;
    background-color: #F9C06A;
    border-radius: 24px;
    border: none;
}

.sub_head>button>a {
    color: #1E1E1E;
    font-size: 16px;
    font-weight: bold;
    font-family: "Playfair Display", serif;
    text-decoration: none;
}

.intro-coffee {
    display: flex;
}

.intro-coffee>.intro-text {
    font-family: "Playfair Display", serif;
    margin: 150px 0 0 93px;
}

.intro-coffee>.intro-text>h2 {
    font-size: 54px;
    font-weight: bold;
    color: #603809;
    padding-bottom: 20px;
}

.intro-coffee>.intro-text>p {
    font-size: 20px;
    line-height: 34px;
    color: #707070;
    padding-bottom: 20px;
}

.intro-coffee>.intro-text>button {
    height: 50px;
    width: 150px;
    background-color: #F9C06A;
    border-radius: 24px;
    border: none;
}

.intro-coffee>.intro-text>button>a {
    color: #1E1E1E;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
}

.intro-coffee>.intro-image>img {
    position: relative;
    left: 100px;
    top: 50px;
}

.coffee_style {
    height: 542px;
    width: 1180px;
    font-family: "Playfair Display", serif;
    margin-top: 9rem;
    text-align: center;
}

.coffee_style>h1 {
    color: #603809;
    font-size: 54px;
    font-weight: bold;
    padding-bottom: 20px;
}

.coffee_style>p {
    color: #707070;
    font-size: 20px;
    line-height: 34px;
    padding-bottom: 30px;
}

.order_now {
    height: 388px;
    width: 1180px;
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    font-family: "Playfair Display";
}

.coffee_order {
    border: 1px solid rgba(249, 192, 106, 0.42);
    background-color: #FFF9F1;
    height: 350px;
}

.coffee_order>img {
    height: 222px;
}

.order_now>.coffee_order>h2 {
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
    color: #603809;
    font-family: "Playfair Display";
}

.order_now>.coffee_order>p {
    color: #1E1E1E;
    font-size: 1rem;
    padding-top: 5px;
    font-family: "Playfair Display";
}

.order_now>.coffee_order>h3 {
    color: #603809;
    font-size: 18px;
    font-weight: bold;
    padding-top: 5px;
    font-family: "Playfair Display";
}

.order_now>.coffee_order>button>a {
    font-size: 16px;
    font-weight: bold;
    color: #1E1E1E;
    font-family: "Playfair Display";
    text-decoration: none;
}

.order_now>.coffee_order>button {
    border-radius: 24px;
    background-color: #F9C06A;
    height: 48px;
    width: 134px;
    border: none;
    position: relative;
    top: 15px;
}

.coffee_discription {
    height: 612px;
    font-family: "Playfair Display", serif;
    margin-top: 5rem;
    text-align: center;

}

.coffee_discription>h1 {
    color: #603809;
    font-size: 54px;
    font-weight: bold;
    padding-bottom: 20px;
}

.coffee_discription>p {
    color: #707070;
    font-size: 20px;
    line-height: 34px;
    padding-bottom: 30px;
}

.sec-4 {
    height: 284px;
    width: 1180px;
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
    font-family: "Playfair Display";
}

.coffee_1 {
    border: 1px solid rgba(249, 192, 106, 0.42);
    background-color: #FFF9F1;
    height: 284px;
    width: 280px;
}

.coffee_1>img {
    height: 88px;
    width: 88px;
    padding-top: 40px;
}

.sec-4>.coffee_1>h2 {
    font-size: 28px;
    font-weight: bold;
    padding-top: 15px;
    color: #603809;
    font-family: "Playfair Display";
}

.sec-4>.coffee_1>p {
    color: #1E1E1E;
    font-size: 20px;
    padding-top: 10px;
    font-family: "Playfair Display";
}

.coffee_discription>.coffee_2>p {
    font-size: 20px;
    color: #707070;
}

.coffee_discription>.coffee_2>p>span {
    font-size: 30px;
    color: #603809;
    font-weight: bold;
}

.coffee_discription>.coffee_2 {
    text-align: center;
    margin-top: 40px;
}

.coffee_discription>.coffee_2>button>a {
    font-size: 16px;
    font-weight: bold;
    color: #1E1E1E;
    font-family: "Playfair Display";
    text-decoration: none;
}

.coffee_discription>.coffee_2>button {
    border-radius: 24px;
    background-color: #F9C06A;
    height: 48px;
    width: 134px;
    border: none;
    position: relative;
    top: 15px;
}

.get-chance {
    height: 574px;
    background-image: url(./images/bg-coffee.png);
}

.get-chance>.get-text {
    font-family: "Playfair Display";
    position: relative;
    top: 25%;
    left: 7%;
}

.get-chance>.get-text>h2 {
    font-size: 54px;
    color: white;
    font-weight: bold;
}

.get-chance>.get-text>p {
    font-size: 20px;
    line-height: 34px;
    color: white;
}

.get-chance>.get-text>button>a {
    font-size: 16px;
    font-weight: bold;
    color: #1E1E1E;
    font-family: "Playfair Display";
    text-decoration: none;
}

.get-chance>.get-text>button {
    border-radius: 24px;
    background-color: #F9C06A;
    height: 48px;
    width: 134px;
    border: none;
    position: relative;
    top: 15px;
}

.feedback {
    height: 747px;
    font-family: "Playfair Display";
}

.feedback>.f-head {
    text-align: center;
}

.feedback>.f-head>h2 {
    font-size: 54px;
    font-weight: bold;
    color: #603809;
    margin-top: 70px;
}

.feedback>.f-head>p {
    font-size: 20px;
    line-height: 50px;
    color: #707070;
    margin-bottom: 50px;

}

.feedback>.f-msg {
    position: relative;
    left: 10rem;
    text-align: center;
    height: 524px;
    width: 980px;
    border: 1px solid rgba(249, 192, 106, 0.42);
    background-color: #FFF9F1;
}

.feedback>.f-msg>h1 {
    font-size: 220px;
    font-weight: bold;
    line-height: 112px;
    color: #603809;
}

.feedback>.f-msg>p {
    font-size: 20px;
    font-weight: 500;
    line-height: 36px;
    color: #707070;
    position: relative;
    top: 30px;

}

.feedback>.f-msg>h2 {
    font-size: 32px;
    font-weight: bold;
    color: #603809;
    position: relative;
    top: 70px;
}

.feedback>.f-msg>h3 {
    font-size: 20px;
    line-height: 34px;
    color: #707070;
    position: relative;
    top: 70px;
}

.feedback>.f-msg>img {
    position: relative;
    top: 90px;
}

.feedback>.f-msg>.btn-1 {
    height: 82px;
    width: 82px;
    background-color: #F9C06A;
    position: absolute;
    right: 59rem;
    bottom: 13rem;
    border: none;
    border-radius: 10px;
}

.feedback>.f-msg>.btn-2 {
    height: 82px;
    width: 82px;
    background-color: #F9C06A;
    position: absolute;
    left: 59rem;
    bottom: 13rem;
    border: none;
    border-radius: 10px;
}